

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   body {
      position: absolute;
      margin: 0px;
      overflow: hidden;
      top: 0px;
      bottom: 0px;
      width: 100%;
  }

  .green {
     color: green;
  }

  .red {
     color: red;
  }


















